<h1>Product</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Product</a></li>
    <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="product">
    <!-- Product tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Basics</h2>
      <ul>
        <li>Categorie: {{ product.category.name }}</li>
        <li>Référence: {{ product.reference }}</li>
        <li>Libellé: {{ product.name }}</li>
        <li>Etat: {{ product.status ? 'Activé' : 'Desactivé' }}
      </ul>
      <h2>Tags</h2>
      <ul>
        <li *ngFor="let t of product.tags">{{ t.name }}</li>
      </ul>
      <br/>
      <p>
        <a class="btn btn-primary" [routerLink]="['/products/edit/', product.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/products']">View All Products</a>
      </p>
    </div>
    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane" id="photos">
      <h2>Photos</h2>
      <input type="file" (change)="uploadPhoto()" #fileInput>
      <img *ngFor="let photo of photos" src="/uploads/{{ photo.fileName }}" class="img-thumbnail">
    </div>
  </div>
</div>