<h2>Products</h2>
<p>
  <a [routerLink]="['/products/new']" class="btn btn-primary">Nouveau Produit</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="category">Categorie</label>
    <select name="" id="category" class="form-control" [(ngModel)]="filter.categoryId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let c of categories" value="{{ c.id }}">{{ c.name }}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Réinitialiser</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Categorie</th>
      <th>Référence</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.category.name }}</td>
      <td>{{ p.reference }}</td>
      <td>{{ p.name }}</td>
      <td>
        <a [routerLink]="['/products/', p.id]">Détails</a>
      </td>
    </tr>
  </tbody>
  
</table>