<h1></h1>
<p>
  {{ product | json }}
</p>
<div class="col-lg-6">
  <div class="well bs-component">
    <form class="form-horizontal" (ngSubmit)="submit()" #f="ngForm">
      <fieldset>

        <legend>Nouveau Produit</legend>

        <div class="form-group">
          <label for="category" class="col-lg-2 control-label">Catégorie</label>
          <div class="col-lg-10">
            <select class="form-control" id="category" name="categoryId" [(ngModel)]="product.categoryId" (change)="onCategoryChange()" required #category="ngModel" >
              <option value=""></option>
              <option *ngFor="let c of categories" value="{{ c.id }}">{{ c.name }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="category.touched && !category.valid">merci de spécifier une catégorie.</div>
          </div>
        </div>  

        <!--
        <div class="form-group">
          <label for="product" class="col-lg-2 control-label">Produits</label>
          <div class="col-lg-10">
            <select id="product" class="form-control">
              <option value=""></option>
              <option *ngFor="let p of products" value="{{ p.id }}">{{ p.name }}</option>
            </select>
          </div>
        </div> 
        --> 

        <div class="form-group">
          <label for="name" class="col-lg-2 control-label">Nom</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" placeholder="Nom du produit" required #name="ngModel" >
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">merci de saisir le nom du produit.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="reference" class="col-lg-2 control-label">Référence</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="reference" name="reference" [(ngModel)]="product.reference" placeholder="Référence du produit" required #reference="ngModel" >
            <div class="alert alert-danger" *ngIf="reference.touched && !reference.valid">merci de saisir la référence du produit.</div>
          </div>
        </div>

        <h2>Etat</h2>
        <div class="form-group">
          <div class="col-lg-10">
            <label for="isActive" class="radio-inline">
              <input name="status" id="isActive" type="radio" [value]="true" [(ngModel)]="product.status"> Actif
            </label>
            <label for="isNotActive" class="radio-inline">
              <input name="status" id="isNotActive" type="radio" [value]="false" [(ngModel)]="product.status"> Désactivé
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enregistrer</button>
            <button type="button" class="btn btn-danger" *ngIf="this.product.id" (click)="delete()">Supprimer</button>
          </div>
        </div>
          
        <h2>Tags</h2>
        
        <div *ngFor="let t of tags" class="checkbox">
          <label for="tag{{ t.id }}">
            <input type="checkbox" id="tag{{ t.id }}" (change)="onTagToggle(t.id, $event)" [checked]="product.tags.includes(t.id)">{{ t.name }}
          </label>
        </div>

      </fieldset>
    </form>
  </div>
</div>